html, body {
	width: 100%; 
	margin: 0px; 
	padding: 0px;
}

a {
	outline: 0;
}

.application-title {
	margin: 20px;
}

.container {
	width: 100%; 
	margin: 0px; 
	padding: 0px;
}

.comment-info {
	color: rgba(0, 0, 0, 0.25);
}

.comment-info:hover {
	color: rgba(0, 0, 0, 0.75);
}

.comment-hover {
	display: none;
}

li.list-group-item:hover .comment-hover {
	display: block;
}

.vector-form {
	width: 50px;
}

.nav-tabs > .active > a, .nav-tabs > .active > a:hover { 
	outline: 0;
}
